
src/Employee.Business/obj/Debug/net7.0/Employee.Business.csproj.FileListAbsolute.txt

*.vsidx

*.lock

*.v2

.vs/EmployeeApi/v17/

.vs/ProjectEvaluation/

*.cache

src/EmployeeApi.API/obj/

src/EmployeeApi.API/bin/Debug/net7.0/

src/Employee.Infrastructure/obj/

src/Employee.Infrastructure/bin/Debug/net7.0/

src/Employee.Common/obj/

src/Employee.Business/obj/

src/Employee.Common/bin/Debug/net7.0/

src/.vs/EmployeeApi/v17/

*.db-wal

*.db-shm

src/.vs/ProjectEvaluation/employeeapi.metadata.v6.1

src/.vs/ProjectEvaluation/employeeapi.projects.v6.1
